# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*

# Next.js
/.next/
/out/

# production
/build

# env
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db
